<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>骨格診断スタート</title>
    <link rel="stylesheet" href="color_diagnoses_index.css"> <!-- 外部CSSファイルへのリンク -->
</head>

    <body>
    </body>
        <main>  
            <div class="start">
                <h1>Are you ready?</h1>
                <a href="<%= new_body_diagnosis_path %>" class="link1">Start!</a>

            </div>
        </main>
    </body>
</html>