<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" href="./stylesheets/hello_index.scss">
  </head>
  <body>

  <!--  コンテンツを一旦仮置きする  -->
     <!--   First block Start   -->
  <section id="first-block">
    <div class="title-container">
      <h1 >Style Base</h1>
      <h3>Your fashion base is here.</h3>
    </div>
  </section>
  <!--   First block End   -->
  </body>
</html>